<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <contentor_options>
            <contentor_options>
                <developer_mode>0</developer_mode>
                <api_base_url>https://api.contentor.com/</api_base_url>
                <version>1.3.3</version>
            </contentor_options>
        </contentor_options>
    </default>
</config>
