<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Contentor\LocalizationApi\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">contentorLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Contentor\LocalizationApi\Model\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </type>

    <preference for="Contentor\LocalizationApi\Model\Spi\HttpClientInterface"
                type="Contentor\LocalizationApi\Model\Http\Client\Curl" />

    <preference for="Contentor\LocalizationApi\Model\Spi\HttpRequestTransferInterface"
                type="Contentor\LocalizationApi\Model\Http\Transfer" />

    <preference for="\Contentor\LocalizationApi\Api\Data\ProductInterface"
                type="Contentor\LocalizationApi\Model\Product" />

    <preference for="\Contentor\LocalizationApi\Api\Data\StatusInterface"
                type="Contentor\LocalizationApi\Model\Status" />

    <preference for="\Contentor\LocalizationApi\Api\Data\TypeInterface"
                type="Contentor\LocalizationApi\Model\Type" />

    <preference for="\Contentor\LocalizationApi\Api\ProductRepositoryInterface"
                type="Contentor\LocalizationApi\Model\ProductRepository" />

    <preference for="\Contentor\LocalizationApi\Api\StatusRepositoryInterface"
                type="Contentor\LocalizationApi\Model\StatusRepository" />

    <preference for="\Contentor\LocalizationApi\Api\TypeRepositoryInterface"
                type="Contentor\LocalizationApi\Model\TypeRepository" />

</config>
