<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Localization Send Request Controller -->
    <type name="Contentor\LocalizationApi\Controller\Adminhtml\Administration\SendBulkProducts">
        <arguments>
            <argument name="productSendContent" xsi:type="object">Contentor\LocalizationApi\Model\Service\ProductSendContent</argument>
        </arguments>
    </type>

    <type name="Contentor\LocalizationApi\Controller\Adminhtml\Administration\PostProduct">
        <arguments>
            <argument name="productSendContent" xsi:type="object">Contentor\LocalizationApi\Model\Service\ProductSendContent</argument>
        </arguments>
    </type>

    <type name="Contentor\LocalizationApi\Controller\Adminhtml\Administration\PostCategory">
        <arguments>
            <argument name="categorySendContent" xsi:type="object">Contentor\LocalizationApi\Model\Service\CategorySendContent</argument>
        </arguments>
    </type>
    <!-- End Localization Send Request Controller -->

    <!-- Content Creation Send Request Controller -->
    <type name="Contentor\LocalizationApi\Controller\Adminhtml\Administration\Contentcreation\PostProduct">
        <arguments>
            <argument name="productSendContent" xsi:type="object">Contentor\LocalizationApi\Model\Service\ContentCreationProductSendContent</argument>
        </arguments>
    </type>

    <type name="Contentor\LocalizationApi\Controller\Adminhtml\Administration\Contentcreation\SendBulkProducts">
        <arguments>
            <argument name="productSendContent" xsi:type="object">Contentor\LocalizationApi\Model\Service\ContentCreationProductSendContent</argument>
        </arguments>
    </type>
    <!-- End Content Creation Send Request Controller -->

</config>
