<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Contentor_LocalizationApi::reports"
             title="Contentor"
             module="Contentor_LocalizationApi"
             sortOrder="9999"
             resource="Magento_Backend::content"

             parent="Magento_Reports::report"
            />

        <add id="Contentor_LocalizationApi::productreport"
             title="Product Report | Localization Synchronize"
             module="Contentor_LocalizationApi"
             sortOrder="10"
             resource="Magento_Backend::content"

             parent="Contentor_LocalizationApi::reports"
             action="contentor/reports/productreport"
            />

        <add id="Contentor_LocalizationApi::productreportcontentcreation"
             title="Product Report | Content Creation Synchronize"
             module="Contentor_LocalizationApi"
             sortOrder="20"
             resource="Magento_Backend::content"

             parent="Contentor_LocalizationApi::reports"
             action="contentor/reports/contentcreation_productreport"
        />
    </menu>
</config>
